# Virtual environments
venv/
env/
.venv/
.evn

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Large Datasets (Do NOT push to GitHub)
dataset/*.csv
dataset/jan*
*.csv
mmi_cache.json

# Secrets / credentials (NEVER commit)
secrets.txt
**/secrets.txt


# IDEs
.vscode/
.idea/

# macOS
.DS_Store

# Frontend
node_modules/
.next/

# Archives
*.zip
dashboard_an/
nul
