# Virtual environments
venv/
env/
.venv/

# Environment files
.env
.env.local
.env*.local

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Large datasets
dataset/*.csv
mmi_cache.json

# Secrets
secrets.txt
**/secrets.txt

# IDEs
.vscode/
.idea/

# macOS
.DS_Store

# Frontend
node_modules/
.next/

# Archives
*.zip

# Local folders
dashboard_an/

# Logs
*.log

# Crash dumps
*.stackdump